/*.topbar {  background-color: #494949 !important;  }*/
.mian-title{  color: #ff6c46 !important;  font-size: 26px !important; }
.link p span{  color: #ff6c46 !important;  font-size: 16px !important; }
a:hover{ color: #ff6c46 !important;border-bottom-color: #ff6c46!important;text-decoration: none;}
.link a:hover, .link a.on {  text-decoration: none;  color: #ff6c46!important;  border-bottom: 1px solid !important;  }
.zd-search button {  font-size: 16px  !important;  border: 1px solid #ff6c46!important;  background-color: #ff6c46!important; }
.zd-search input {  border-radius: 10px; color: #a9a9a9  !important; font-size: 16px !important;  }
.zd-recond input{  font-size: 16px  !important;  border-radius: 10px; }
.w2,.w1,.w3{ font-size: 16px  !important;  border-radius: 10px !important;  }
.page div {  font-size: 16px !important;  }
.table{  border: none !important;  border-top: 1px solid #e6e6e6 !important;  }
.zd-table .thead td {  color: #3c3c3c !important;  font-size: 18px !important;  }
.table .search {  border: 1px solid #ff6c46!important;  color: #fff !important;;  background-color: #ff6c46!important;  }
.zd-table {  border:none !important;  }
.zd-table .thead td {  color: #666 !important;  }
.page div a {  color: #666 !important;  }
.main-box .left-box {  border-right: 1px solid  #363636 !important;background-color: #363636 !important;   }
.menu li{  border-bottom: 1px solid #363636 !important;background-image:none !important; background-image: url("../images/123.png") !important;background-position-x: 182px;!important; }
.menu li a {  color: #fff !important; text-indent: 38px !important; }
.menu li a.i1,a.i2,a.i3,a.i4,a.i5,a.i6 {  background-image:none !important;  }
.menu li.on a, .menu li:hover a {  width: 83% !important;  height:44px !important;  margin-left: 10% !important;  line-height: 44px !important;  border-radius: 30px !important;  background-color: #fd5434 !important;  background-image:none !important;  background-image: url("../images/123.png") !important;  background-position-x: 150px;!important;  background-position-y: 15px;!important;  transition: all 0s !important;  }
/*资料管理*/
#mobile,#mobilecode,#email,#address{ border-radius: 10px; }
.change-pw button { background-color: #ff6c46!important; border-radius: 30px;}
.change-pw button:hover { background-color: #ff6c46!important; }
.change button {  background-color: #ff6c46!important;  }
.change button:hover {  background-color: #ff6c46!important;  }
/*交易记录*/
.link2 button {  background-color: #ff6c46!important; }
.link2 button:hover{  background-color: #ff6c46!important;}
.table .sthead {  font-size:18px !important;  color: #3c3c3c !important;}
/*合作伙伴*/
.back .back1 .fr table button {  background-color: #ff6c46!important;  border: 1px solid #ff6c46!important; }
.back .back1 .fr table button:hover{  background-color: #ff6c46!important; }
.back .back2 thead { color: #3c3c3c !important;  font-size:18px !important;}
.back .back1 .fl {  color: #ff6c46!important; }


